<h1> SIMPLE CRUD </h1>
<h3 style="text-align: center;">with Node JS and Mysql</h3>
<p style="text-align: center;"> ʕ•́ᴥ•̀ʔっ It's simple but at least works fine ʕ•́ᴥ•̀ʔ</p>
<div style="text-align: center;">
    <br>
    <h3><a href="inserir">Cadastrar</a></h3>
    <br>
    <h3><a href="select">Lista de Cadastrados</a></h3>
    <br>
</div>