<h1>Cadastrar Usuario</h1>
<br>

<div style="text-align: center;">
    <form name='form1' action='controllerForm' method="post">
        <input type="text" name='id' id='id' placeholder='Id:'>
        <input type="text" name='name' id='name' placeholder='Name:'>
        <input type="text" name='age' id='age' placeholder='Age:'>
        <input type="submit" name='btnSubmit' id='btnSubmit' value='Enviar'>
    </form>
</div>
<br>
<div style="text-align: center;">
    <button>
        <a href="../">Voltar ao Home</a>
    </button>
</div>